<%= form_tag({}) do -%>
<%= hidden_field_tag 'back_url', url_for(params), id: nil %>
<div class="autoscroll">
  <table id="deliverable-list" class="list deliverables">
    <thead>
      <tr>
        <th></th>
        <% query.inline_columns.each do |column| %>
        <%= column_header(column) %>
        <% end %>
      </tr>
    </thead>
    <% previous_group = false %>
    <tbody>
      <% deliverables.each do |deliverable| -%>
      <% if @query.grouped? && (group = @query.group_by_column.value(deliverable)) != previous_group %>
      <% reset_cycle %>
      <tr class="group open">
        <td colspan="<%= query.inline_columns.length + 1 %>">
          <%= group.blank? ? l(:label_none) : column_content(@query.group_by_column, deliverable) %>
        </td>
      </tr>
      <% previous_group = group %>
      <% end %>
      <tr id="deliverable-<%= deliverable.id %>" class="<%= cycle('odd', 'even') %> deliverable hascontextmenu">
        <td>
          <%= content_tag(:span, '', class: 'deliverable-expander') if overview_column? %>
          <%= check_box_tag("ids[]", deliverable.id, false, id: nil, class: 'deliverable-checkbox') %>
        </td>
        <%= raw query.inline_columns.map {|column| "<td class=\"#{column.css_classes}\">#{column_content(column, deliverable)}</td>"}.join %>
      </tr>
      <% @query.block_columns.each do |column|
         if (text = column_content(column, deliverable)) && text.present? -%>
      <tr class="<%= current_cycle %>" style="display: none;">
        <td colspan="<%= @query.inline_columns.size + 1 %>" class="<%= column.css_classes %>">
          <%= text %>
        </td>
      </tr>
      <% end %>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
