<h2><%=l(:label_deliverable_new)%></h2>

<%= labelled_form_for @deliverable, url: project_deliverables_path(@project),
    html: { class: 'new_deliverable', multipart: true } do |f| %>
<%= error_messages_for 'deliverable' %>
<%= hidden_field_tag 'copy_from', params[:copy_from] if params[:copy_from] %>
<div class="box tabular">
  <div id="all_attributes">
    <%= render :partial => 'form', :locals => {:f => f} %>
  </div>
</div>

<%= submit_tag l(:button_create) %>
<%= submit_tag l(:button_create_and_continue), :name => 'continue' %>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'budget', plugin: :redmine_budget %>
  <%= javascript_include_tag('budget', plugin: :redmine_budget) %>
<% end %>
